.card {
  min-height: 20%;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px 0 rgba(112, 212, 233, 0.2),
    0 3px 10px 0 rgba(112, 212, 233, 0.19);
  margin: 1rem 0rem;
}
