@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  font-weight: 200;
}

.App {
  font-family: "Oswald", sans-serif;
}

main {
  min-height: 100vh;
  background: linear-gradient(to right top, #9932cc, #6cdbeb);
  display: flex;
  align-items: center;
  justify-content: center;
}
